
.judul{
    text-align: left;
}

.tautan {
    text-align: right;
}

.header{ 
    border : 1px solid #dedede; 
    padding : 10px; 
    margin : 10px; 
    background-color :rgba(255, 8, 8, 0.911);
    box-shadow: 2px 2px 15px black;
    color: rgb(238, 253, 19);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   } 



.tautan h2 a{
    text-align: right;
    text-decoration: none;
    color: rgb(238, 253, 19);
}


.footer{ 
    clear : both; 
    color: rgb(238, 253, 19);
    border : 1px solid #dedede; 
    padding : 15px; 
    margin : 10px; 
    background-color :rgba(255, 8, 8, 0.911);
    box-shadow: 2px 2px 15px black;
    position: fixed;
    bottom:0;
    width: 100%;
}

.paragraf{
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color :rgba(248, 194, 194, 0.911);
    
}

body{
    background-image: url(burger.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}